[include]
    path = ~/.gitconfig.local
[credential]
	helper = store
[credental]
	helper = clear
[help]
	autocorrect = 20
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
	excludesfile = /Users/wesley/.git-exclude
[push]
	default = simple
[init]
	defaultBranch = main
[pull]
	rebase = false
