[include]
    path = ~/.gitconfig.local
[credential]
	helper = store
[credental]
	helper = clear
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
	excludesfile = ~/.git-exclude
[push]
	default = simple
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
